:root {
    /* Primary Colors */
    --clr-orange: #ff7d1a;
    --clr-paleOrange: #ffede0;

    /* Neutral Colors */
    --clr-veryDarkBlue: #1d2025;
    --clr-darkGrayishBlue: #68707d;
    --clr-grayishBlue: #b6bcc8;
    --clr-lightGrayishBlue: #f7f8fd;
    --clr-white: #ffffff;
    --clr-black: #000000; 

    /* Font size */
    --fs-noraml: 1rem;

    /* Font Weight */
    --fw-normal: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

body {
    font-size: var(--fs-normal);
    color: var(--clr-darkGrayishBlue);
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 26px;
    overflow-x: hidden;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
}

.header__inner {
    padding: 28px 0 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E4E9F2;
}

.arrow {
    display: none;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    color: var(--clr-darkGrayishBlue);
    font-size: 15px;
    line-height: 26px;
    position: relative;
}

.header__nav-link::after {
    position: absolute;
    content: '';
    height: 4px;
    background-color: var(--clr-orange);
    left: 0;
    top: calc(100% + 48px);
    width: 0;
}

.header__nav-link:hover,
.header__nav-link:focus{
    color: var(--clr-veryDarkBlue)
}

.header__nav-link:hover::after,
.header__nav-link:focus::after {
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-button {
    display: none;
}

.close-menu {
    display: none;
}

.cart {
    position: relative;
}

.cart__content {
    position: absolute;
    width: 360px;
    background-color: var(--clr-white);
    min-height: 256px;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px;    
    z-index: 100;
    top: calc(100% + 30px);
    transform: translateX(-50%);
    /* opacity: 0; */
    display: none;
    transition: display 0s, opacity 0.3s ease-in-out .3s; 
}

.cart__items-content {
    display: none;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.cart__items-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.cart__items-content-top > img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 4px;
}

.cart__items-content-title {
    color: var(--clr-grayishBlue);
    font-weight: var(--fw-normal);
}

.cart__items-content-price {
    color: var(--clr-grayishBlue);
}

.total-price {
    font-weight: var(--fw-bold);
    color: var(--clr-veryDarkBlue);
}

.cart__content-top {
    padding: 24px;
    border-bottom: 1px solid #E4E9F2;
}

.cart__content-title {
    font-weight: var(--fw-bold);
    color: var(--clr-veryDarkBlue);
}

.cart__items {
    width: 100%;
    height: calc(100% - 72px);
    display: flex;
    padding: 24px;
}

.cart__items-none {
    font-weight: var(--fw-bold);
    line-height: 26px;
    color: var(--clr-darkGrayishBlue);
    width: 100%;
    text-align: center;
}

.cart.active .cart__content {
    display: block;
    opacity: 1;
}

.profile {
    width: 50px;
    height: 50px;    
    border-radius: 50%;
    border: 2px solid transparent;
}

.profile > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile:hover,
.profile:focus {
    border: 2px solid var(--clr-orange);
}

/* MAIN */

.main__inner {
    padding: 90px 0;
    display: flex;
    gap: 40px;
    align-items: center;
}

.main__photos {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 445px;
    flex-shrink: 0;
}

.main-photo {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
    overflow: hidden;
}

.main__photos  .main-photo {
    cursor: pointer;
}

.main-photo > img {
    width: 100%;
    height: 100%;
}

.secondary-photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 32px;
    width: 100%;
}

.secondary-photos-img-container {
    width: 88px;
    height: 88px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
}

.secondary-photos-img-container.active {
    border: 2px solid var(--clr-orange);
}

.secondary-photos-img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}

.secondary-photos-img-container:hover::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    left: 0;
    top: 0;
    content: '';
    z-index: 100;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
}

.secondary-photos-img-container.active::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    left: 0;
    top: 0;
    content: '';
    z-index: 100;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
}

.product__info-subtitle {
    color: var(--clr-orange);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 16px;
    margin-bottom: 27px;
}

.product__info-title {
    font-weight: var(--fw-bold);
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 32px;
    color: var(--clr-veryDarkBlue);
}

.product__info-price {
    margin: 24px 0 32px;
    font-weight: var(--fw-bold);
}

.product__info-price-new-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.product__info-price-new {
    font-size: 28px;
    line-height: 35px;
    color: var(--clr-veryDarkBlue);
}

.product__info-price-sale {
    color: var(--clr-orange);
    background-color: var(--clr-paleOrange);
    border-radius: 6px;
    line-height: 20px;
    padding: 8px;
}

.product__info-price-old {
    text-decoration: line-through;
    color: var(--clr-grayishBlue);
    margin-top: 10px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 16px;
}

.choose-quantity {
    border-radius: 10px;
    background-color: var(--clr-lightGrayishBlue);
    display: flex;
    gap: 45px;
    padding: 22px 16px;
}

.choose-quantity > button:hover path {
    fill: #FFAB6A;
}

.quantity {
    background-color: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    max-width: 20px;
    font-weight: var(--fw-bold);
    line-height: 20px;
    color: var(--clr-veryDarkBlue);
}

.add-to-cart-button,
.checkout-button {
    background-color: var(--clr-orange);
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px var(--clr-orange);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    line-height: 20px;
    padding: 18px 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus,
.checkout-button:hover,
.checkout-button:focus {
    background: #FFAB6A;
}

.bigger-photos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    flex-direction: column;
    gap: 40px;
}

.bigger-photos.active {
    display: flex;
}

.bigger-photos > .secondary-photos {
    grid-template-columns: repeat(4, 88px);
    justify-content: center;
}

.bg-black {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-veryDarkBlue);
    opacity: 0;
    z-index: 500;
}

.arrow-bigger {
    position: absolute;
    top: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-white);
    border-radius: 50%;
}

.arrow-bigger-left {
    left: 0;
    transform: translate(-50%, -50%);
}

.arrow-bigger-right {
    right: 0;
    transform: translate(50%, -50%);
}

.close-bigger-photos {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(-100% - 24px));
}

.bg-black.active {
    right: 0;
    opacity: 0.5
}


@media screen and (max-width: 1024px) {
    header {
        position: relative;

    }

    body {
        position: relative;
    }

    .container {
        padding: 0 24px;
    }

    .header__inner {
        padding: 20px 0 25px;
        border: 0;
        /* overflow-x: hidden; */
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        min-height: 100vh;
        background-color: var(--clr-white);
        z-index: 1000;
        padding: 0 25px;
        left: -100%;
    }

    .menu-button {
        display: block;
    }
    
    .close-menu {
        display: block;
    }

    .header__nav.active {
        left: 0;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
    }

    .close-menu {
        margin-top: 25px;
    }

    .header__left {
        gap: 16px;
    }

    .header__right {
        gap: 20px;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__nav-link {
        color: var(--clr-veryDarkBlue);
        font-weight: var(--fw-bold);
        font-size: 18px;
    }

    .header__nav-link::after {
        display: none;
    }

    .cart {
        position: static;
    }

    .cart__content {
        width: 90%;
        transform: translate(5%, 0);
        left: 0;
        top: calc(100%  + 10px);
    }

    .profile {
        width: 24px;
        height: 24px;    
    }

    main .container {
        padding: 0;
    }
    
    .main__inner {
        padding: 0 0 90px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .main__photos {
        width: 100%;
        flex-shrink: 1;
    }
    
    .main__photos  .main-photo {
        cursor: auto;
    }
    
    .main-photo {
        border-radius: 0;
        position: relative;
    }

    .arrow {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-white);
        border-radius: 50%;
    }

    .arrow-left {
        left: 16px;
        transform: translateX(-50%, -50%);
    }

    .arrow-right {
        right: 16px;
        transform: translateX(50%, -50%);
    }

    .secondary-photos {
        display: none;
    }

    .product__info {
        padding: 0 24px;
    }

    .product__info-subtitle {
        font-size: 12px;
        letter-spacing: 1.8px;
        line-height: 15px;
        margin-bottom: 19px;
    }
    
    .product__info-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    
    .product__info-description {
        font-size: 15px;
        line-height: 25px;
    }

    .product__info-price {
        margin: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product__info-price-old {
        margin-top: 0;
    }
    
    .add-to-cart {
        flex-direction: column;
    }
    
    .choose-quantity {
        border-radius: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .add-to-cart-button {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}